# Dependencies
/node_modules
/.pnp
.pnp.js

# Vite build output
/dist
/dist-ssr

# Vite cache and session data
/.vite
*.vite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Env Files
.env
.env.local
.env.*.local

# IDE and editor files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln